body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.header h1 {
  font-size: 36px;
  color: #333;
}

.header p {
  font-size: 18px;
  color: #666;
}

.posts-container {
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.posts-container h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.posts-container ul {
  list-style: none;
  padding: 0;
}

.posts-container li {
  margin-bottom: 30px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.posts-container li h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
  color: #007bff;
}

.posts-container li p {
  margin: 5px 0;
  color: #777;
}

.posts-container li a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.posts-container li a:hover {
  text-decoration: underline;
}

.typewriter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #555;
  text-align: center;
  margin-bottom: 40px;
}

/* CSS para a página de detalhes do post */

.post-container {
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 40px;
  text-align: center;
}

.post-container h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.post-container p {
  margin: 5px 0;
  color: #777;
  text-align: center;
  font-size: 28px;
}

.post-content {
  margin-bottom: 20px;
  color: #555;
  line-height: 1.6;
  text-align: left;
  /* Para o conteúdo do post não ficar centralizado */
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  /* Cor de fundo azul */
  color: #fff;
  /* Cor do texto branco */
  text-decoration: none;
  /* Remove o sublinhado */
  font-weight: bold;
  border-radius: 5px;
  /* Bordas arredondadas */
  text-align: center;
  transition: background-color 0.3s ease;
  /* Transição suave na cor de fundo */
}

.back-link:hover {
  background-color: #0056b3;
  /* Cor de fundo ao passar o mouse */
}