{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ object.title }} - Meu Blog de Testes EBAC</title>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles.css' %}">
</head>

<body>
  <div class="header">
    <h1>{{ object.title }}</h1>
    <p>{{ object.created_on|date:" F 'de' Y, H:i" }}</p>


  </div>

  <div class="post-container">
    <p>{{ object.content }}</p>
    <a class="back-link" href="{% url 'home' %}">Voltar para os posts</a>
  </div>
</body>

</html>