{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Blog de Testes EBAC</title>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles.css' %}">
</head>

<body>
  <div class="header">
    <h1>Meu Blog de Testes EBAC</h1>
    <p>Exercício para Django Views</p>
  </div>

  <div class="typewriter" id="typewriter"></div>

  <!-- Container para os posts -->
  <div class="posts-container">
    <h1>Últimos Posts</h1>
    <ul>
      {% for post in posts %}
      <li>
        <h2>{{ post.title }}</h2>
        <p>{{ post.created_on|date:"d M, Y, h:i a" }}</p>
        <a href="{% url 'post_detail' post.slug %}">Ler Mais</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var text = "Olá ebac, meu Exercício de Django na data 09/07/2024 12h41 por : DANILLONEO";
      var index = 0;
      var speed = 100; // velocidade em milissegundos

      function typeWriter() {
        if (index < text.length) {
          document.getElementById("typewriter").innerHTML += text.charAt(index);
          index++;
          setTimeout(typeWriter, speed);
        } else {
          setTimeout(function () {
            document.getElementById("typewriter").innerHTML = "";
            index = 0;
            typeWriter();
          }, speed * 10); // Espera um pouco antes de reiniciar
        }
      }

      typeWriter();
    });
  </script>
</body>

</html>